### Portfolio assignment 8
15 min: 
- Calculate the 90%, 95%, 99% and 99.99% confidence interval for at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4. Do you see the impact the confidence has on the interval?
- Now calculate the 95% confidence interval again but use only the first 10% of your rows. Compare this interval to the previous 95% confidence interval you calculated. Do you see the impact of having less data?

In [1]:
import seaborn as sns
import pandas as pd

df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [2]:
import scipy.stats as st
confidence = 0.90
st.t.interval(confidence, len(df)-1, loc=df['hours.per.week'].mean(), scale=st.sem(df['hours.per.week']))

(40.32490020928257, 40.55001149490342)

In [3]:
confidence = 0.95
st.t.interval(confidence, len(df)-1, loc=df['hours.per.week'].mean(), scale=st.sem(df['hours.per.week']))

(40.3033363616603, 40.57157534252569)

In [4]:
confidence = 0.99
st.t.interval(confidence, len(df)-1, loc=df['hours.per.week'].mean(), scale=st.sem(df['hours.per.week']))

(40.26118918266325, 40.61372252152274)

In [5]:
confidence = 0.999
st.t.interval(confidence, len(df)-1, loc=df['hours.per.week'].mean(), scale=st.sem(df['hours.per.week']))

(40.21227444747937, 40.66263725670662)